<form id="add-item">
  <fieldset>
    <div id="add-item-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Upload File <span class="extra-title muted"></span></h3>
          </div>
          <div class="modal-body form-horizontal">
            <div class="control-group">
              <label for="upload_title" class="control-label">Title</label>
              <div class="controls">
                <input type="text" name="image[title]" placeholder='140 character limit' maxlength=140 required>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="file" name="image[file]" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn close-upload-modal" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
