<!-- CHANGE PASSWORD -->
<form id="change-password">
<fieldset>
<div id="password-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  	<div class="modal-content">
    <div class="modal-header">
        <h3>Change Password <span class="extra-title muted"></span></h3>
    </div>
    <div class="modal-body form-horizontal">

        <div class="control-group">
            <label for="current_password" class="control-label">Current Password</label>
            <div class="controls">
            <input type="password" name="passwords[old]" required>
            </div>
        </div>
        <div class="control-group">
            <label for="new_password" class="control-label">New Password</label>
            <div class="controls">
                <input type="password" name="passwords[new]" required>
            </div>
        </div>
    </div>
    <div class="alert alert-success pass-success-message">
    Your password change was successful!
  </div>
  <div class="alert alert-danger old-password-mismatch-message">
    <strong>Opps!</strong> Looks like your old password wasn't correct. Try again.
  </div>
    <div class="modal-footer">
        <button type = "button" class="btn cls-pass-modal" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type = "submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
</fieldset>
</form>
