<!-- CHANGE PASSWORD -->
<div class="jumbotron" id="change-password-jumbotron">
  <form id="change-password" class="auth-login-form">
    <fieldset>
      <div class="input-group center-block">
        <input type="password" name="passwords[old]" value="" placeholder="old password" id="old-password" class="form-control">
        <input type="password" name="passwords[new]" value="" placeholder="new password" id="new-password" class="form-control">
        <input type="submit" name="submit" value="Change Password" class="btn btn-primary btn-md">
      </div>

      <div class="auth-responses" id="change-pwd-inst">&nbsp;</div>
    </fieldset>
  </form>
</div>
