
<div class="jumbotron">
  <h1 class="big-headers">all the things</h1>
  <button type = "button" class="btn btn-primary" aria-hidden="true" id="sign-up-button">Sign Up</button>
  <button type = "button" class="btn btn-primary" aria-hidden="true" id="sign-in-button">Sign In</button>
</div>
{{> sign-up-view}}
{{> sign-in-view}}
