<h2>Update Item View</h2>
<div>
  <form id="update-item" enctype="multipart/form-data">
    <fieldset>
      <legend>Update a File</legend>
      <label>
          Title
          <input type="text" name="image[title]">
      </label>
      <input type="submit" name="submit" value="Update">
    </fieldset>
  </form>
</div>
