<h2>Update Item View</h2>
<div>
  <form id="update-item" enctype="multipart/form-data">
    <fieldset>
      <legend>Update a File</legend>
      <label>
          Title
          <input type="text" name="upload[title]" id="update-upload-title" required>
      </label>
      <input type="submit" name="submit" value="Update" id="submit-update-form-button">
    </fieldset>
  </form>
</div>
