<div class="table-container">
<div class='breadcrumb'>
All The Things
</div>
<table class="table table-responsive" style="float:right">
<thead class="thead-default">
  <tr>
    <th style= "text-align:left">Users</th>
  </tr>
  </thead>
  <tbody>
    {{#each users as |user|}}
    <tr data-id="{{user.id}}" class='user-folder clickable' data-folder="{{user.email}}">
      <td>
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
      <span>{{user.email}}</span>
    </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
