<div class="table-container">
<div class='breadcrumb'>
<a id="show-users" >All The Things</a>
<span class="glyphicon glyphicon-chevron-right"></span>
<span id="current-folder">{{user.email}}</span>
</div>
<table class="table table-responsive" style="float:right">
<thead class="thead-default">
  <tr>
    <th  style= "text-align:left">Folders</th>
  </tr>
  </thead>
  <tbody>
    {{#each folders as |folder|}}
    <tr data-folder="{{folder}}" data-id="{{../user.id}}" class='folder clickable'>
      <td>
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
      <span>{{folder}}</span></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
