<h2>List of Users</h2>
All The Things
<<<<<<< HEAD
<table class="table table-responsive" style="float:right">
=======
<table class="table table-responsive" sytle = "float:right">
>>>>>>> Add breadcrumb to folders view
<thead class="thead-default">
  <tr>
    <th style= "text-align:left">User</th>
  </tr>
  </thead>
  <tbody>
    {{#each users as |user|}}
    <tr>
      <td>
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
      <a data-id="{{user.id}}" class='user-folder'>{{user.email}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
